* {
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
}
.header {
  padding: 1.5rem;
  background-color: black;
}
.header a {
  font-size: 1.4rem;
}
.header h1 {
  color: white;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
  margin-right: 15rem;
}
.home {
  background-image: url("../public/img/fashion-model-4k-9k-1366x768.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.home h1 {
  font-size: 2.5rem;
}
.home p {
  font-size: 1.8rem;
}
.home-left {
  margin-top: 10%;
  animation: identifier 1.5s;
  cursor: pointer;
}
.home-left:hover {
  transform: rotate(5deg);
  transition: 1s all;
}
.home-right:hover {
  transform: rotate(-5deg);
  transition: 1s all;
}
.home-right {
  cursor: pointer;
  margin-top: 30%;
  animation: identifier1 1.5s;
}
.main-title {
  text-align: center;
  padding: 2rem;
}
.main-title h1 {
  font-family: monospace;
  font-size: 3rem;
}
.main-title hr {
  width: 50%;
  transform: translate(50%);
  height: 0.3rem;
  background-color: beige;
}
@keyframes identifier {
  0% {
    transform: translate(-90%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes identifier1 {
  0% {
    transform: translate(90%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
